@import "https://fonts.googleapis.com/css2?family=Quicksand&display=swap";
.rwd-table {
  margin: 1em 0;
  margin-top: 1em;
  margin-bottom: 4em;
  margin-left: 0;
  margin-right: 0;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}

.rwd-table th, .rwd-table td {
  text-align: left;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}


@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}

@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}



body {
  padding: 0 2em;
  font-family: Quicksand, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: rgb(0, 0, 0);
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.rwd-table {
  background: #393939;
  color: #fff;
  border-radius: 40px;
  position: absolute;
  top: 50%;
  left: 24.5%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%); 
  overflow: auto;
}
.rwd-table tr {
  border-color: #393939;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}


.rwd-table th, .rwd-table td:before {
  color: #3877c0;
}

.topheader {
  text-align: center;
  font-size: 40px;
  padding: 20px;
  position: absolute; 
  top: 0; 
  right: 0;
  width: 100%;
  background: #144552;
  color: #fff;
  
}

.topheader a {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}


.topheader a:hover {
  color: black;
}

.tbltopheader {
  color: rgba(36, 174, 216, 0.863);
  position: absolute;
  font-size: 55px;
  text-decoration: none;
}

/* Custom Scrollbar */

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #0c3864;
    background-size: cover;
	border-radius: 10px;
}
::-webkit-scrollbar {
	background-color: #061638;
	width: 15px;
}
::-webkit-scrollbar-thumb {
	background-color: #fff;
	background: linear-gradient(155deg,#1f8583,#114855,#01272c);
    border-radius: 10px;
    background-size: cover;
}

.empty-space {
  background-color: transparent;
}

.tbl-desc {
  background-color: transparent;
  text-align: center;
  font-size: 30px;
  position: absolute;
  color: rgba(36, 174, 216, 0.863);
}

html {
  cursor: url('src/fish_cursor.png'), auto !important;
}

.sotbutton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  color: #3877c0;
  background-color: #393939;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 35px;
  transform: translate(-50%, -50%); 
  text-decoration: none;
}

.sotbutton a:hover {
  color: black;
}

.sotbutton span a{
  text-decoration: none;
  color: #3877c0;
}

@media (min-width: 480px) {
  .sotbutton {
    font-size: 22px;
    top: 65%;
  }
}

@media (min-width: 1090px) {
  .sotbutton {
    font-size: 40px;
    top: 50%;
  }
}

.tbl-desc-bubble {
  background-color: rgba(36, 174, 216, 0.863);
  color: white;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 23px;
  border-radius: 30px;
  display: none;
}

@media screen and (orientation:portrait) {
  .rwd-table {
    top: 50%;
  }
}

@media (orientation: portrait) {
  .tbltopheader {
    display: none;
  }
  body {
    padding: 0%;
  }
}